$p-header-height: 56px;
$p-title-color: #26a8c9;
$p-footer-height: 44px;
$p-line-separator-color: #d8d8d8;

// z-index
$z-layers: (
    'modal': 2000,
    'menu': 1010,
    'backdrop': 1000,
    'navbar': 30,
    'header': 20,
    'footer': 20,
    'content': 10,
    'default': 1,
    'below': -1,
    'bottomless': -9000,
);
