$p-header-height: 56px;
$p-title-color: #5097ab;
$p-footer-height: 44px;
$p-line-separator-color: #d8d8d8;

$fallback-fonts: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
$daimler-cs-demi: 'DaimlerCS-Demi', #{$fallback-fonts};

// z-index
$z-layers: (
    'tooltip': 3000,
    'modal': 2000,
    'menu': 1010,
    'backdrop': 1000,
    'navbar': 30,
    'header': 20,
    'footer': 20,
    'floating': 15,
    'content': 10,
    'default': 1,
    'below': -1,
    'bottomless': -9000,
);

// table
$table-font-size: 0.8rem;
$table-font-color: black;
$table-border-color: #e5e5e5;
$table-header-background-color: #f2f8fb;

// info-box
$info-box-border-left-color: #a6cad8;
$info-box-title-background-color: #edeff0;
$info-box-icon-color: #026780;
$info-box-content-background-color: #f9f9f9;

// main content area
$content-padding-top: 16px;

// navigation mar
$navigation-item-spacing: 36px;
$navigation-item-spacing-desktop: 24px;
$family-sans-serif: 'DaimlerCS-Regular', #{$fallback-fonts};

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// bulma variables
$primary: #409cb3;
$navbar-background-color: #004355;

// grid
$column-gap: 0.75rem;

// links
$link: #026780;
$link-hover: #024658;
$link-focus-border: #a6cad8;
$link-active-border: #a6cad8;

// navbar
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: rgba(255, 255, 255, 0.12);
$navbar-item-active-color: white;
$navbar-item-active-background-color: rgba(255, 255, 255, 0.2);

$navbar-dropdown-item-hover-color: black;
$navbar-dropdown-item-hover-background-color: white;
$navbar-dropdown-item-active-color: black;
$navbar-dropdown-item-active-background-color: white;

$navbar-dropdown-arrow: white;

// input (forms)
$input-border-color: #c7c7c7;

// labels (forms)
$label-color: #00566a;
$label-weight: 400;

// modal
$modal-card-head-background-color: white;
$modal-card-head-radius: 0px;
$modal-card-foot-radius: 0px;
$modal-card-head-border-bottom: 1px solid #a6cad8;

// themes
$info: #a6cad8;

// responsive media querys

$gap: 32px;

$device: 1407px;

$tablet: 1407px;

$desktop: 1407px + (2 * $gap);

$widescreen: 1407px + (2 * $gap);
$widescreen-enabled: false;

$fullhd: 1407px + (2 * $gap);
$fullhd-enabled: false;

$variable-columns: false;

$primary: #8c67ef;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";