$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

// bulma variables
$primary: #e4e4e4;
$navbar-background-color: #e4e4e4;

// grid
$column-gap: 0.75rem;

// links
$link: #e4e4e4;
$link-hover: #e4e4e4;
$link-focus-border: #a6cad8;
$link-active-border: #a6cad8;

// navbar
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: white;
$navbar-item-active-color: white;
$navbar-item-active-background-color: white;

$navbar-dropdown-item-hover-color: black;
$navbar-dropdown-item-hover-background-color: white;
$navbar-dropdown-item-active-color: black;
$navbar-dropdown-item-active-background-color: white;

$navbar-dropdown-arrow: white;

// input (forms)
$input-border-color: #cfc2c2;
$input-focus-border-color: #000000;

// labels (forms)
$label-color: #000000;
$label-weight: 400;

// modal
$modal-card-head-background-color: white;
$modal-card-head-radius: 0px;
$modal-card-foot-radius: 0px;
$modal-card-head-border-bottom: 1px solid #000000;

// themes
$info: #a6cad8;

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: true;
