.columns {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.label {
    // the font-weight is incorrectly overwritten by buefy
    font-weight: $label-weight;

    &:not(:last-child) {
        // margin of label is not configurable
        margin-bottom: 0.2rem;
    }
}
