*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Variables */
    --blue: #365B6E;
    --light-blue: #5C9CBD;
}

html{
    font-family: 'Roboto', sans-serif;
}

/* Image */
.image-container{
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.maintenance-image{
    width: auto;
    margin: auto;
}

/* Text */
.text-container{
    text-align: center;
    color: var(--blue);
}

.text-container h2{
    font-size: 3.5rem;
    text-shadow: 1px 1px var(--light-blue);
}

.text-container p{
    font-size: 3rem;
}

button{
    margin-top: 3rem;
    width: 25rem;
    height: 3rem;
}

.btn-outline-primary{
    color: var(--blue);
    border: 2px solid var(--blue);
}

.btn-outline-primary:hover{
    color: white;
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

/* Media queries */
/* Extra small device */
@media (max-width: 575px){
    .maintenance-image{
        width: 12.5rem;
    }

    .text-container h2{
        font-size: 1.5rem;
    }

    .text-container p{
        font-size: 1rem;
    }

    button{
        margin-top: 1.5rem;
        width: 12.5rem;
        height: 3rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .maintenance-image{
        width: 25rem;
    }

    .text-container{
        margin-top: 2rem;
    }

    .text-container h2{
        font-size: 2rem;
    }

    .text-container p{
        font-size: 1.5rem;
    }

    button{
        margin-top: 3rem;
        width: 15rem;
        height: 3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .maintenance-image{
        margin-top: 2rem;
        width: 30rem;
    }

    .text-container{
        margin-top: 3rem;
    }

    .text-container h2{
        font-size: 3rem;
    }

    .text-container p{
        font-size: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

@media (min-width: 1200px) { 
    .maintenance-image{
        margin-top: 3rem;
        width: 35rem;
    }
    
}