@font-face {
    font-family: 'Campesina';
    src: url('../assets/fonts/Campesina.eot');
    src: url('../assets/fonts/Campesina.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Campesina.woff') format('woff'),
        url('../assets/fonts/Campesina.ttf') format('truetype'),
        url('../assets/fonts/Campesina.svg#Campesina') format('svg');
    font-weight: normal;
    font-style: normal;
}
