//Global SCSS overrides. Whenever possible add rules as Vuetify override in 'vuetify-verrides.styl' file, otherwise add it here
html {
    overflow-y: auto !important;
    background-color: #fff;
}

body {
    /**
     * TODO improve organisation of fonts:
     * - use variable names
     * - use back-up fonts
     * - use reasonable global font
     */
    font-family: 'Arial';
}

//Andres app official colors
.gt-main-color {
    color: #000000 !important;
}
.gt-error-color {
    color: #bc1600 !important;
}
.gt-success-color {
    color: #2b942c !important;
}

//Andres buttons
.gt-primary-button {
    background-color: white !important;
    color: #000000 !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}

.gt-info-button {
    background-color: #000000 !important;
    color: white !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}

.gt-success-button {
    background-color: white !important;
    color: #2b942c !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}

.gt-error-button {
    background-color: white !important;
    color: #bc1600 !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}

.gt-content-list-button {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.25px;
    line-height: 21px;
    text-transform: capitalize;

    &:hover::before {
        background-color: transparent !important;
    }
}

// Common utilities
.c-pointer {
    cursor: pointer;
}
.w-100 {
    width: 100%;
}
.half {
    width: 50%;
}
.onepage {
    height: 100vh;
}
.invisible {
    visibility: hidden;
}
.hidden {
    display: none;
}
.abs {
    position: absolute !important;
}
.rel {
    position: relative !important;
}
.line-through {
    text-decoration: line-through;
}
